<div class="comment-container">
  <div class="comment-content">
    <p class="comment-text">{{comment_description}}</p>
    <p class="comment-author-date">Posted by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>

<script src="/js/comment.js"></script>
