<div class="signup-section">
    <h2>Create Account</h2>
    <form class="signup-form">
      <div class="form-field">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" class="input-field" />
      </div>
      <div class="form-field">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" class="input-field" />
      </div>
      <div class="form-field">
        <button type="submit" class="signup-button">Signup</button>
      </div>
    </form>
</div>

<script src="./js/signup.js"></script>
